{% extends "base.html" %} {% block content %}
  <center>
    <br>
    <br>
    <br>
    <div class="card" style="width: 60%; margin-top: 5%;">
      <div class="card-body">
        <h5 class="card-title">What is Autism Spectrum Disorder?</h5>
        <p class="card-text" align="justify">
          Autism spectrum sickness (ASD), a form of neurological sickness,
          appears in youngsters among 6 and 17 years of age and impacts
          conversation abilties and social conduct. ASD impacts social
          interactions and communication and reasons repetitive behaviors in
          patients . consistent with the WHO, ASD impacts one baby in one
          hundred sixty, and these kids frequently gift with other situations
          like depression, anxiety, and attention deficit hyperactivity disorder
          (ADHD). Early diagnosis during adolescence is critical and might
          improve the social capabilities and communique problems of youngsters
          with ASD and decorate their pleasant of lifestyles. with the intention
          to manage and deal with this disorder, an early diagnosis is critical.
          one of the maximum essential obligations for diagnosing neurological
          illnesses including epilepsy, Alzheimer, and autism is to expand a
          model primarily based on useful or structural vicinity relationships
          within the brain . therefore, functional magnetic resonance imaging
          (fMRI) is used to study the mind and its structures.
        </p>
      </div>
    </div>
  </center>
</div>

{% endblock %}
